body { background: white; }

div img{
  height: 701px;
  width: 100%;
}
#image{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
#text {
  color: #bdbdbd;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  position: absolute;
  top: 100%;
  z-index: 0;

}
