body { background: white; }

div{
  background-image: url("../images/homepage-background-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 701px;
  width: 100%;
}


.title{
  color: #fff;
  display: inline-block;
  font: 400 1em/1.5em "din-condensed-web",DINCondensed-Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 70pt;
  font-weight: 400;
  height: auto;
  left: 20%;
  letter-spacing: .3em;
  margin: 0;
  opacity: .8;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 50pc;
}

span{
  font-size: 15px;
  letter-spacing: normal;
  width: 90pt;
}
ul{
 	list-style-type: none;
 	text-align: center;
  margin-top: -5%;
 }

 li{
 	display: inline;
 	/*para dejar 20 pixeles de margen a la derecha */
 	margin: 0 20px 0 0;
 }

 a {
     border-bottom: 2px solid #f0f0f0;
    border-bottom: 3px solid #C0C0C0;
    color: #fff;
    padding-bottom: .6em;
    text-decoration: none;
}

.button-white {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    /*display: inline-block;*/
    font-family: din-condensed-web,DINCondensed-Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 350;
    height: 75pt;
    letter-spacing: .1em;
    line-height: 75pt;
    margin-top: 35%;
    margin-left: 45%;
    margin-right:45%;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: border-color .2s linear,color .2s linear!important;
    -o-transition: border-color .2s linear,color .2s linear!important;
    transition: border-color .2s linear,color .2s linear!important;
    width: 75pt;
}