body { background: white; }

div{
  height: 701px;
  background-image: url("../images/homepage-background-2.jpg");
}
.title{
  color: #fff;
  font-size: 90pt;
  font-weight: 400;
  opacity: .8;
  text-align: center;
  width: 50pc;
}

span{
  font-size: 15pt;
}
